<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/image/favicon.png" type="image/png">
    <title>OneLife</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/linericon/style.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css">
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-5">
                            <ul class="nav social_icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6 col-7">
                            <div class="top_btn d-flex justify-content-end">
                                <a href="#">My Account</a>
                                <a href="#"  onclick="document.getElementById('id02').style.display='block'">Donor ID</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/index"><img src="/static/image/Logo.png" width="190" height="60" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                            <li class="nav-item active"><a class="nav-link" href="/aboutonelife">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Know More</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/orgon">Abt Organ Donation</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/tissue">Abt Tissue Donation</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laws</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/about-us">Transplant Laws</a></li>

                                </ul>
                            </li>
                            {% if login == True %}
                            <li class="nav-item"><a class="nav-link" href="/donor" target="_blank">Donor</a></li>
                            {% endif %}

                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="donate_area">
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">About OneLife</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Get to know OneLife</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================Event Blog Area=================-->
        <section class="event_blog_area section_gap">
            <div class="container">
                <div class="row about_info">
                    <div class="section-top-border text-right">
						<h3 class="mb-30 title_color">What made us work on OneLife and the inspiration behind this?</h3>
						<div class="row">
							<div class="col-md-9">
								<p class="text-right">Each one of us faced issues when it comes to this field. Many of us faced problems from basic Blood infusion to the core Heart Transplantation. All these problems are faced by all sector people, this is the place for High and Low where everyone are equal. The reason behind OneLife is to make work easier for public so they can find the neccessary organ hazel free . </p>
								<p class="text-right">This OneLife project is started by a group of students from Bennett universtiy CSE students. Our main motive to start this project is due to the difficulties that people faced during this pandemic. Due to the high demand of patients and high risk of getting corona, people faced trouble visting for other health issues such as Organ transplant or blood infusion. Considering these issues we have strated this project to help patients and customers to go through a risk free process and a less time consuming task for users.</p>
							</div>
							<div class="col-md-3">
								<img src="image/12.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
                </div>
            </div>
        </section>
        <!--================Blog Area=================-->
   
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About OneLife</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Awareness</a></li>
                                        <li><a href="#">KnowMore</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Laws</a></li>                                        
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Support</h6>
                            <p> Any special requirements or suggestions send your beloved mail, we will respond back.</p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>                   					
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0">
                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>                        
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/popper.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/js/mail-script.js"></script>
        <script src="/static/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/static/vendors/flipclock/timer.js"></script>
        <script src="/static/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/stellar.js"></script>
        <script src="/static/js/custom.js"></script>
    </body>
</html>