<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/image/favicon.png" type="image/png">
    <title>OneLife</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/linericon/style.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css">
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-5">
                            <ul class="nav social_icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6 col-7">
                            <div class="top_btn d-flex justify-content-end">
                                <a href="#">My Account</a>
                                <a href="#"  onclick="document.getElementById('id02').style.display='block'">Donor ID</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/index"><img src="/static/image/Logo.png" width="190" height="60" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/aboutonelife">About</a></li>
                            <li class="nav-item active"><a class="nav-link" href="/awareness">Awareness</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Know More</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/orgon">Abt Organ Donation</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/tissue">Abt Tissue Donation</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laws</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/about-us">Transplant Laws</a></li>

                                </ul>
                            </li>
                            {% if login == True %}
                            <li class="nav-item"><a class="nav-link" href="/donor">Donor</a></li>
                            {% endif %}

                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="donate_area">
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Awareness</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Awareness</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
       
        <!--================Sermons work Area =================-->
        <section class="sermons_work_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Organ Donation Awareness</h2>
                    <p>Donating organs is an important part of our life. Let us spread the awareness of organ donation and blood donation</p>
                </div>
                <div class="section-top-border">
						<h3 class="mb-30 title_color"> In The Long Run, Organ Donation Saves Lives</h3>
						<div class="row">
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">How can we...</h4>
									<p>You can help us spread awareness about organ donation! Organize a brief awareness session together at your office, college, school, club or anywhere else. Help us get more information about organ donation from your friends , colleagues, family and others.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">What india is facing?</h4>
									<p>India faces an acute shortage of transplant organs. More than a million individuals are estimated to suffer from end-stage organ failure, but only a handful of 3500 transplants are performed annually. At least 15 people die each day while waiting for organs, and a new name is added to this waiting list every 10 minutes. Undoubtedly, the market exceeds the supply of organs by far. And the harsh truth, no one can hide.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">How can we?</h4>
									<p>One way to raise awareness about organ donation is to update your social media profile images with themed banners. Through visiting the Donate Life website, you can find banner links, cover photos, and profile pictures for social media accounts such as Facebook and Twitter. We need to start this awareness at an early age, which lets every person learn about the value of organ donation.</p>
								</div>
							</div>
						</div>
				</div>
            </div>
        </section>
        <!--================Sermons work Area=================-->
        
        <!--================Event Blog Area=================-->
        <section class="event_blog_area section_gap">
            <div class="container">
                
				<div class="section-top-border">
						<h3 class="mb-30 title_color">Importance</h3>
						<div class="row">
							<div class="col-lg-12">
								<blockquote class="generic-blockquote">
									<p>“Donation is offering an organ and tissue to support someone who wants a transplant. Transplants can save or change a person's life. One organ and one tissue donor will help change the lives of more than 10 people. This depends on donors and their families willing to donate their organs and tissues after death.” </p>
									<p>“Three lives can be saved by a single donation. One blood donation includes a range of blood components that can benefit up to three different patients. Blood can not be rendered. Blood can not be made despite medical and technological advancements, but donations are the only way we can provide blood to those who need it.”</p>
								</blockquote>
							</div>
						</div>
				</div>
            </div>
        </section>
        <!--================Blog Area=================-->
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About OneLife</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Awareness</a></li>
                                        <li><a href="#">KnowMore</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Laws</a></li>                                        
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Support</h6>
                            <p>Any special requirements or suggestions send your beloved mail, we will respond back. </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0">
 <a href="https://colorlib.com" target="_blank"></a>	</p>
                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/popper.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/js/mail-script.js"></script>
        <script src="/static/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/static/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/stellar.js"></script>
        <script src="/static/js/custom.js"></script>
    </body>
</html>