<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/image/favicon.png" type="image/png">
    <title>OneLife</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/linericon/style.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css">
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-5">
                            <ul class="nav social_icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6 col-7">
                            <div class="top_btn d-flex justify-content-end">
                                <a href="#">My Account</a>
                                <a href="#"  onclick="document.getElementById('id02').style.display='block'">Donor ID</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/index"><img src="/static/image/Logo.png" width="190" height="60" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/aboutonelife">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                            <li class="nav-item submenu dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Know More</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/event">Abt Organ Donation</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/event-details">Abt Tissue Donation</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laws</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/about-us">Transplant Laws</a></li>

                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="donate_area">
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Event Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Event Details</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        <section class="event_details_area section_gap">
            <div class="container">
                <div class="row">                   
                    
                    <div class="col-md-12 event_details">
                        <a href="#"><h4 class="event_title">What is Tissue Donation?</h4></a>
                        <p>Tissue Donation is the process of Retrieving or Procuring tissues from a living or deceased persons, called a Donor, and transplanted into the Recipient who needs it.</p>
                        <p>However, due to the prevalence of myths about organ donation, and the lack of awareness about the topic in India, a majority of people do not take up this noble cause for the benefit of others.</p>
                        <br>
						<a href="#"><h4 class="event_title">Which Tissues Can Be Donated?</h4></a>
						<p class="p1">Layers of cells that function together to serve a specific purpose are called Tissues. Most Tissues should be donated within 6 hours of the donor’s death.</p>
                            <ol>
                              <li>Cornea: Cornea donation or eye donation is the most common tissue donation. The Cornea is a transparent covering over the eye. It is also the eye’s primary focusing element. Recipients who suffer from corneal blindness can gain their sight again after a corneal transplant. These patients are those who may have been blinded by an accident, infection or disease. Either the entire Cornea can be transplanted or it can be transplanted in parts. A Corneal Transplant is does not need any anti-rejection drugs in the recipient. Corneas from all ages of recipients are effective as long as the Doctors as they are healthy.</li>
                              <li>Bones: Bones from deceased donors are used to replace bones of recipients whose bones are cancerous. A Bone transplant can be done instead of amputating the cancerous arm.</li>
                              <li>Skin: Skin can be used as grafting for burn victims, acid attack victims or for post-mastectomy breast reconstruction, amongst other things.</li>
                              <li>Veins: Donated veins are commonly used in surgeries for cardiac bypass.</li>
                            </ol>
                        <p class="p1">Apart from these, other tissues that can be donated are muscles, tendons, ligaments, cartilage and heart valves.</p>
						<br>
						<br>
						
						
						<div class="section-top-border">
						<h3 class="mb-30 title_color">Fun Fact about deceased Organs</h3>
						<div class="row">
							<div class="col-lg-12">
								<blockquote class="generic-blockquote">
									<p class="p1">A deceased organ donor is kept on a ventilator after she/he has been declared brain-dead. They will remain on the ventilator until necessary approvals are taken and the organs can be retrieved. A Brain stem Dead person’s organs may stay alive for a period of time that may range from a few days to a few weeks. The longer it takes to retrieve the organs, the more they will deteriorate inside the body. Therefore, the entire process of taking counselling of the family, taking permissions etc. should be quickly taken care of. For this to happen, families need to be able to make their decision soon after the brain death has been declared.</p>
                                    <p class="p1">Once the organs have been retrieved, they cannot be kept outside the body for very long and need to be transplanted fast.</p>
                                      <table>
                                        <tbody>
                                           <tr>
                                              <td><strong>Heart &amp; Lungs</strong></td>
                                              <td>4-6 hours</td>
                                           </tr>
                                           <tr>
                                              <td><strong>Liver</strong></td>
                                              <td>6-12 hours</td>
                                           </tr>
                                           <tr>
                                              <td><strong>Kidneys</strong></td>
                                              <td>Up to 30 hours</td>
                                           </tr>
                                           <tr>
                                              <td><strong>Intestine</strong></td>
                                              <td>6 hours</td>
                                           </tr>
                                           <tr>
                                              <td><strong>Pancreas</strong></td>
                                              <td>6 hours</td>
                                           </tr>
                                        </tbody>
                                     </table>
                                    <p class="p1">The family of the donor will not receive anything, and the recipient is not charged for the organs. The recipients however will have to pay the costs of transplantation to the hospital where they are being operated. After the donor family gives consent for organ donation, all costs relating to the donor are borne by the hospital.</p> 
								</blockquote>
							</div>
						</div>
					</div>
					</div>
                </div>
            </div>
        </section>
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About One Life</h6>
                            <p> The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Awareness</a></li>
                                        <li><a href="#">KnowMore</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Laws</a></li>                                        
                                    </ul>
                                </div>									
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Support</h6>
                            <p> Any special requirements or suggestions send your beloved mail, we will respond back.</p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0"></p>
                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>

                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/popper.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/js/mail-script.js"></script>
        <script src="/static/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/static/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/stellar.js"></script>
        <script src="/static/js/custom.js"></script>
    </body>
</html>