<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/image/favicon.png" type="image/png">
    <title>OneLife</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/linericon/style.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css">
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-5">
                            <ul class="nav social_icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-sm-6 col-7">
                            <div class="top_btn d-flex justify-content-end">
                                <a href="#">My Account</a>
                                <a href="#"  onclick="document.getElementById('id02').style.display='block'">Donor ID</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/index"><img src="/static/image/Logo.png" width="190" height="60" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/aboutonelife">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Know More</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/event">Abt Organ Donation</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/event-details">Abt Tissue Donation</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laws</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/about-us">Transplant Laws</a></li>

                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="donate_area">
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">KnowMore</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Organ Donation</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
       
        <!--================Organ Donation =================-->
        <section class="event_date_area">
            <div class="container">               
                    
                        <div class="evet_location flex">
						<div class="col-md-9 mt-sm-20 left-align-p">
                            <h3 class="text-left"> What is Organ Donation?</h3>
                            <h4 class="text-left"> Organ donation is the entire process of retrieving a human organ from a living or deceased person referred to as a donor and transplanting it to a recipient. The recipient will be a patient with an organ failure who will not survive unless an organ replacement is received. Retrieval is called an organ recovery process.</h4>
						</div>
					    <br>
						<br>
							<div class="col-md-9">
								<h3 class="text-right">Which Organs Can Be Donated?</h3>
								<h4 class="text-right"></h4>
								<h4 class="text-right">Let’s take a closer look at the different organs that can be donated by a person after death and while the person is still alive. There are eight organs that can be donated and transplanted:</h4>
                                <ol>
                                <li>Kidneys: Both kidneys can be donated by a deceased donor. On average the lifespan of a transplanted kidney is around nine years, but it varies from individual to individual. Of all organs in the human body, the demand for kidneys is the highest, and kidneys are the most frequently donated organs. A kidney disease most likely affects both kidneys at the same time. A living donor can easily donate one kidney to someone and function well for the rest of their lives.</li>
                                <li>Liver: The liver is an important organ with primary functions of bile production &amp; excretion; excretion of bilirubin, cholesterol, hormones, and drugs; metabolism of fats, proteins and carbohydrates; enzyme activation; storage of glycogen, vitamins and minerals; synthesis of plasma proteins; blood detoxification and purification. The liver is the only organ in the human body that can grow cells and regenerate. A donated liver from someone who has died (a deceased donor) can further be split into two pieces and transplanted into two different people to save their lives. A living donor can have a portion of her/his liver removed to donate to someone, and the remaining portion will regenerate to almost its full previous size.</li>
                                <li>Heart: A heart is a muscular organ which pumps blood through the human body. In a person’s life, the heart will beat around 2.5 billion times on average and keep the blood running in the body. After being retrieved from the donor, a heart can survive for 4-6 hours only.</li>
                                <li>Lungs: Single or double-lung transplants can be performed from deceased donors. Additionally, living donors can donate a single lobe from the lungs, though it will not regenerate.</li>
                                <li>Pancreas: A deceased donor pancreas can be transplanted into an ailing patient. A living donor can also donate a portion of the pancreas and still retain pancreas functionality.</li>
                                <li>Intestine: After death, a donor can donate their intestine. Although quite rare, a living donor can donate a portion of the intestine.</li>
                                </ol>
                                <p class="text-right">In addition to organs, you can also donate tissues such as corneas, skin, bones, ligaments, heart valves etc.</p>
                                <p>&nbsp;</p>
							</div>
							<br>
							<br>
							<div class="col-md-9 mt-sm-20 left-align-p">
							<h3 class="text-left">Types of Organ Donations</h3>
							<h4 class="text-left">There are two types of organ donations – Living Organ Donations &amp; Deceased Organ Donations.</h4>
                            <p class="p1"><h5>Living Organ Donation:</h5> This is when you retrieve an organ from a healthy living person and transplant it into the body of someone who is suffering from end-stage organ failure. This is commonly done in the case of a liver or a kidney failure (because the liver can grow back to its normal size and a donor can survive on one kidney).</p>
                            <p class="p1">Living donors are classified as either a near relative or a distant relative/friends etc.</p>
                            <p class="p1">A near-relative is spouse, son/daughter, brother/sister, parents, grandparents and grandchildren.</p>
                            <p class="p1">Those other than near-relative can be distant relatives and friends who will need the permission of the State Authorization Committee to donate organs. If the hospital refuses to entertain such cases, the patient may send a legal notice to the hospital for not following the Transplant Act.</p>
                            <p class="p1"><h5>Deceased Organ Donation:</h5> When we talk about pledging your organs for donation or about organ donation after death, we are talking about Deceased Organ Donation. This is an organ donation from a person who has been declared brain stem dead by a team of authorized doctors at a hospital. A person is said to be brain stem dead when there is an irreversible loss of consciousness, absence of brain stem reflexes and irreversible loss of the capacity to breathe.</p>
                            <p class="p1">A lot of people think that whenever and however they die, their organs can be donated. That is not true. In India, organ donation after death is only possible in the case of Brain stem death.</p>
                            <p class="p1">Donation after cardiac death is common in the West, but in India it is rare for donations to take place after cardiac death.</p>
                            <p class="p1">Although it is possible for organs such as the liver and the kidney to be easily donated from a living donor to a recipient, we should work towards an environment where everyone donates their organs after their deaths (if they can), so no living person should have to donate an organ to another.</p>
                            <br>
							<h5>What Organs Can Be Donated After Death?</h5>
                            <p class="p1">All organs and tissues that are viable can be donated after a person dies.</p>
							</div>
                        </div>
                    
                                    
            </div>
        </section>
        <!--================ Organ Donation =================-->
        
        
        <!--================Organ Donation 2.0=================-->
        <section class="event_blog_area section_gap">
            <div class="container">
                <h3> What is the process of Organ Donation?</h3>
				<h4>The Living Donation Process</h4>
                   <ol>
                    <li>The living donor needs to undergo some medical tests and evaluations to check and confirm her/his her medical compatibility with the recipient.</li>
                    <li>The living donor’s medical compatibility is confirmed by a doctor. Only after all the tests have positively confirmed that the donor is compatible with the recipient, can the transplant take place.</li>
                    <li>The living donor’s organs are retrieved surgically by doctors. They will be stored in special chemical solutions briefly until they are transplanted into the recipient.</li>
                    <li>The living donor will need to remain under medical care for a few days or weeks after organ retrieval until she/he is fit to go home.</li>
                   </ol>
                <h4>The Deceased Donation Process</h4>
                   <ol>
                    <li>A deceased donor is often someone who has suffered a fatal injury to the head or had Brain Haemorrhage. She/He is declared brain stem dead by a group of medical experts in a hospital.</li>
                    <li>The donor’s family has to give consent for the donation before the process of organ retrieval can be carried out. Meanwhile, the donor is kept on life-support with Doctors looking after all her/his needs until the retrieval of the organs is allowed to move forward.</li>
                    <li>Suitable recipients for all the organs are identified from a waiting list. They are notified and asked to reach their respective hospitals.</li>
                    <li>After retrieval, the body of the donor is respectfully handed over to the family.</li>
                   </ol>
				   <br>
				   <h3>What potential organ recipients need to know</h3>
				     <p class="p1">The entire process should be clear to patients who need organ transplants. Some basic organ donation information for recipients is given below.</p>
                       <ol>
                        <li>The patient is recognized by a transplant center/hospital as somebody who is in need of an organ transplant.</li>
                        <li>The recipient’s medical profile and details are verified by the Transplant Coordinator and the recipient undergoes the required tests.</li>
                        <li>Once the recipient is deemed fit for transplant, he/she is placed on a waiting list of the hospital in which they are seeking treatment. This will be a Hospital which has a license to conduct transplants. They will then wait until they are called by the Hospital in case an organ becomes available. A suitable donor is identified based on medical compatibility with the recipient.</li>
                       </ol>
                     
                     <p class="p1">There are a few things that organ recipients need to be aware of while going through the transplant process. They should fully conform with the request of the hospital for all information that they may need; hesitation or lack of inclination in sharing information with the hospital could delay the entire process. A constructive and optimistic attitude will also help recipients endure the time spent on the list waiting for a transplant.</p>
                     <p class="p1">Unfortunately, the waiting time is long in India due to lack of deceased organ donors. This time-period may vary, from a few months to a few years.</p>
            </div>
        </section>
        <!--================organ donation 2.0=================-->
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About ONE LIFE</h6>
                            <p> The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Awareness</a></li>
                                        <li><a href="#">KnowMore</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Laws</a></li>                                        
                                    </ul>
                                </div>									
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Support</h6>
                            <p>Any special requirements or suggestions send your beloved mail, we will respond back. </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0">

                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>                        
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/flipclock/timer.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>