<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/static/image/favicon.png" type="image/png">
        <title>OneLife</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/vendors/linericon/style.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
        <link rel="stylesheet" href="/static/css/signup.css">
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-5">
                            <ul class="nav social_icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                
                            </ul>
                        </div>
                        <div class="col-sm-6 col-7">
                            <div class="top_btn d-flex justify-content-end">
                                <a href="#">My Account</a>
								<a href="#"  onclick="document.getElementById('id02').style.display='block'">Donor ID</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="/static/image/Logo.png" width="190" height="60" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="aboutonelife.html">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="awareness.html">Awareness</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Know More</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="event.html">Abt Organ Donation</a></li>
                                    <li class="nav-item"><a class="nav-link" href="event-details.html">Abt Tissue Donation</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laws</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="about-us.html">Transplant Laws</a></li>
                                    
                                </ul>
                            </li> 
                            
                        </ul>
                        
                    </div> 
                </div>
            </nav>
        </header>
        <!--================Header Area =================-->
        
        <!--================banner Area =================-->
        <section class="banner_area d-flex text-center">
            <div class="container align-self-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            <h6>The Gift of Life, Pass It On</h6>
                            <h1>Organ Donation </h1>
                            <p>A life is saved each time an organ is donated<br> Lets's donate to save a LIFE</p>
                            
							<a href="#" class="btn_hover btn_hover_two" onclick="document.getElementById('id01').style.display='block'">WANT TO DONATE?</a>
							<h7 style="font-size:0.7vw"><br>Click here to apply for DONOR ID </h7>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->
        
        <!--================Event Date Area =================-->
        <section class="event_date_area">
            <div class="container">
                
            </div>
        </section>
        <!--================Event Date Area =================-->
        
        <!--================About Area =================-->
        <section class="about_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Story Behind OneLife</h2>
                    <p>All we have is a life to live, Let's no take it for granted... </p>
                </div>
                <div class="row">
                    <div class="col-md-6 d_flex">
                        <div class="about_content flex">
                            <h3 class="title_color">What made us work on OneLife and the inspiration behind this?</h3>
                            <p> Each one of us faced few issues when it comes to this field. Many of us faced problems from basic Blood infusion to the core Heart Transplantation. All these problems are faced by all sector people, there is place for High and Low everyone are equal. The reason behind OneLife is to make work easier for public so they can find the neccessary organ hazel free .</p>
                            <a href="#" class="about_btn btn_hover">Read Full Story</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/image/1.jpeg" alt="abou_img">
                    </div>
                </div>
            </div>
        </section>
        <!--================About Area =================-->
        
        <!--================Features Area =================-->
        <section class="features_area">
            <div class="row m0">
                <div class="col-md-3 features_item">
                    <h3>Transplant Guide</h3>
                    <p>In Desperate need of an Organ? Here is the list of Hospitals and...</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>What is Organ Donation?</h3>
                    <p>Organ donation is the process when a person allows an organ of their own to be removed and transplanted to another person, legally...</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Transplant Laws</h3>
                    <p>In order to proceed with organ donation there are few legal procedures that must be followed.These laws are...</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Organ Donation Awareness</h3>
                    <p>Now we can  spread the awareness of organ donation with the help of...</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
            </div>
        </section>
        <!--================Features Area =================-->
        
        <!--================Sermons work Area =================-->
        <section class="sermons_work_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Endorsement</h2>
                    <p>These are few Experiences from the people who benefited from Organ donation awareness. </p>
                </div>
                <div class="sermons_slider owl-carousel">
                    <div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="/static/image/img1.png" width="10" height="300" alt="">
                                <p>"My Son had an unexpected kidney failure, at emergency i had to donate one of my kidney to him. My selflessness made me not loose my Son"</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color">Experience shared by Alex</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Name: </span><a> Alex Candolim</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Issue: </span> Kidney Transplant</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span> Treatmeant Date:</span> 13th February, 2016</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="/static/image/img3.jpg" width="50" height="300" alt="">
                                <p>"My Brother needed an Eye transplantation at emergency but then we were so scared that we might not find one at the right time. Due to the awarness of Organ Donation my brother's eye transplantation was successful"</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color"> Experience shared by Sidarth</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Name: </span><a> Sidarth Nandan Sahoo</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Issue: </span> Eye Transplant</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span>Treatmeant Date:</span> 30th August, 2019</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="/static/image/img2.jpg"   height="300" alt="">
                                <p>"I was an alcoholic and a mother to 3 children. One day i had an emergency and had to go for a lung transplantation but then this incident made me realise iam the only one for my children. From that night my whole life changed! "</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color">Experience shared by Nair</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Name: </span><a> Amritha Nair</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Issue: </span> Liver Transplant</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span>Treatmeant Date:</span> 14th May, 2015</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
					<div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="/static/image/img5.jpg" width="100" height="300"alt="">
                                <p>"With less exposure i neglected my health condition. Later due to severe health condition i was diagnosed with Dengue and then i got to know my platletes were so low that i needed a Blood Infusion. With great of effort we found a right person who can donate blood"</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color">Experience shared by Roy</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Name: </span><a> Vishwank Roy</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Issue: </span> Blood Infusion</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span>Treatmeant Date:</span> 19th November, 2017</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
					<div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="/static/image/img4.jpg"  height="300"alt="">
                                <p>"I was an industrialist at a Coal Mining Centre,due to my work intensity i have to stay there for hours. Due to this my Lungs were polluted and I was treated with Lung Transplantation"</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color">Experience shared by Ibrahim</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Name: </span><a> David Ibrahim</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Issue: </span> Lung Transplant</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span>Treatmeant Date:</span> 2nd December, 2016</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Sermons work Area=================-->
        <!--================Donate Area=================-->
        <section class="donate_area">
            <div class="container">
                
            </div>
        </section>
        <!--================Donate Area=================-->
        
        <!--================Event Blog Area=================-->
        <section class="event_blog_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Blood Donation</h2>
                    <p> A single pint can save three lives, a single gesture can create a million smiles</p>
					
                </div>				
                <div class="row">
                    <div class="col-md-4">
                        <div class="event_post">
                            <img src="/static/image/A+.png" alt="">
                            <a href="#"><h2 class="event_title">A+ Blood Group</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i><span>Rarity:</span> 30%</li>
                                <li><i class="lnr lnr-apartment"></i><span>Availabilty:</span> Common</li>
                                
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="event_post">
                            <img src="/static/image/B+.png" alt="">
                            <a href="#"><h2 class="event_title">B+ Blood Group</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i><span>Rarity:</span> 9%</li>
                                <li><i class="lnr lnr-apartment"></i><span>Availabilty:</span> Rare</li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="event_post">
                            <img src="/static/image/AB+.png" alt="">
                            <a href="#"><h2 class="event_title">AB+ Blood Group</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i><span>Rarity:</span> 4%</li>
                                <li><i class="lnr lnr-apartment"></i><span>Availabilty:</span> Rare</li>
                            </ul>
                            
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="event_post">
                            <img src="/static/image/O+.png" alt="">
                            <a href="#"><h2 class="event_title">O+ Blood Group</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i><span>Rarity:</span> 39%</li>
                                <li><i class="lnr lnr-apartment"></i><span>Availabilty:</span> Common</li>
                            </ul>
                            
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="event_post">
                            <img src="/static/image/AB-.png" alt="">
                            <a href="#"><h2 class="event_title">AB- Blood Group</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i><span>Rarity:</span> 1%</li>
                                <li><i class="lnr lnr-apartment"></i><span>Availabilty:</span> Super Rare</li>
                            </ul>
                            
                        </div>
                    </div>
					<div class="col-md-4">
                        <div class="event_post">
                            <img src="/static/image/O-.png" alt="">
                            <a href="#"><h2 class="event_title">O- Blood Group</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i><span>Rarity:</span> 9%</li>
                                <li><i class="lnr lnr-apartment"></i><span>Availabilty:</span> Rare</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area=================-->
        
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About ONE LIFE</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Awareness</a></li>
                                        <li><a href="#">KnowMore</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Laws</a></li>                                        
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Support</h6>
							<a>Any special requirements or suggestions send your beloved mail, we will respond back.	</a>
                            		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0"><!-- Link back to  can't be removed. . -->

<!-- Link back to  can't be removed.. --></p>
                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a><i class="fa fa-facebook"></i></a>
                        <a><i class="fa fa-twitter"></i></a>
                        
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        <!-- Sign up Form-->
        <div id="id01" class="modal">

        <form class="modal-content">
        <div class="container">
          <h1>Donor Sign Up</h1>
          <p>Please fill in this form to create a donor account.</p>
          <hr>

          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="Name" required>

          <label for="age"><b>Age</b></label>
          <div>
          <select class="custom-select" required>
                  <option value="">Select Your Age</option>
                  <option value="10-20">10-20</option>
                  <option value="21-30">21-30</option>
                  <option value="31-40">31-40</option>
                   <option value="41-50">41-50</option>
                  <option value="51-60">51-60</option>
                  <option value="61-70">61-70</option>
           </select>
            </div>
          <label for="BloodGroup"><b>Blood Group</b></label>
             <div>
              <select class="custom-select" required>
                    <option value="">Select Blood Group</option>
                    <option value="O+">O+</option>
                    <option value="A+">A+</option>
                    <option value="B+">B+</option>
                    <option value="AB+">AB+</option>
					<option value="AB-">AB-</option>
					<option value="O-">O-</option>
					<option value="A-">A-</option>
					<option value="B-">B-</option>
              </select>
             </div>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="genric-btn success-border large">Cancel</button>
            <button type="submit" class="genric-btn success large" id="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
  </div>
  <!--Donor Login -->
  <div id="id02" class="modal">

        <form class="modal-content">
        <div class="container">
          <h1>Donor Login</h1>
          
          <hr>
  
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="genric-btn primary-border circle"><h5>Cancel</h5</button>
            <button type="submit" class="genric-btn primary circle" id="signupbtn"><h5>Login</h5></button>
          </div>
        </div>
      </form>
  </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/flipclock/timer.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="js/custom.js"></script>
         <script src="js/signup.js"></script>
		 <script src="js/Login.js"></script>
    </body>
</html>